:host {
  display: block;
}

mat-dialog-content {
  min-width: 300px;
  padding: 0.5rem 0;
  
  p {
    margin: 0.5rem 0;
    line-height: 1.6;
  }
}

mat-dialog-actions {
  padding: 1rem 0 0.5rem;
  margin-bottom: 0;
}